{% extends 'kapus/base.html' %}

{% block title %}Login | RideFMB{% endblock %}

{% block head %}
    {% load static %}
    <link href="{% static 'kapus/stylesheets/footer.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-lg">
        <div class="form container-sm">
            <h1>Logowanie</h1>
            {% if message %}
                <span style="color: red">{{ message }}</span>
            {% endif %}
            <form method="POST" id="login" action="{% url 'kapus:login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="uname" class="form-label">Nazwa użytkownika</label>
                    <input type="text" class="form-control" name="uname" id="username" placeholder="Wprowadź nazwę użytkownika"
                           required>
                </div>
                <div class="mb-3">
                    <label for="psw" class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Wprowadź hasło" name="psw" required>
                </div>
                <button type="submit" form="login" class="btn btn-primary">Zaloguj się</button>
            </form>
            <br>
            Nie masz jeszcze konta? Zarejestruj się <a href="{% url 'kapus:register' %}">tutaj</a>
        </div>
    </div>

{% endblock %}