{% extends 'kapus/base.html' %}

{% block title %}Register | RideFMB{% endblock %}

{% block head %}
    {% load static %}
    <link href="{% static 'kapus/stylesheets/footer.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-lg">
        <div class="form container-sm">
            <h1>Załóż konto</h1>
            {% if message %}
                <span style="color: red">{{ message }}</span>
            {% endif %}
            <form method="POST" id="register" action="{% url 'kapus:register' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Adres email</label>
                    <input type="email" class="form-control" name="email" id="email"
                           placeholder="Wprowadź adres email"
                           required>
                </div>
                <div class="mb-3">
                    <label for="uname" class="form-label">Ksywka</label>
                    <input type="text" class="form-control" name="uname" id="username" placeholder="Wprowadź ksywkę"
                           pattern="[A-Za-z0-9]+" required>
                </div>
                <div class="filter-element mb-3">
                    <label for="city" class="form-label">Lokalizacja</label>
                    <select class="form-select filter-select" name="city" id="city" required>
                        <option>Wybierz miasto</option>
                        {% for city in cities %}
                            <option value="{{ city }}">{{ city }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="psw" class="form-label">Hasło</label>
                    <input type="password" class="form-control" placeholder="Conajmniej 8 znaków" name="psw"
                           pattern="^.{8,}$" required>
                </div>
                <div class="mb-3">
                    <label for="psw2" class="form-label">Powtórz hasło</label>
                    <input type="password" class="form-control" placeholder="Wprowadź hasło" name="psw2"
                           pattern="^.{8,}$" required>
                </div>
                <button type="submit" form="register" class="btn btn-primary">Zarejestruj się</button>
            </form>
            <br>
        </div>
    </div>

{% endblock %}